#test to ignore file though gitignore

### Windows template
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
passwords.txt


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

